extends ../layout
append css
    link(href='/components/font-awesome/css/font-awesome.css', rel="stylesheet")
    link(href="/css/user.css", rel="stylesheet")
block main


        block content
            


