extends ../layout

block content
  h2.page-header 添加分类
  form.vertical-form(method="post", action=action)
    div.form-group
      label(for="title") 名称
      input.form-control.input-lg(name="name",placeholder="请输入名称...", value=category.name)
 
    button.btn.btn-lg.btn-info(type="submit")=category.name ? "保存" : "添加"
  
block srcipts
    script $(document).ready(function(){console.log('express is ready')})